dash-design-kit>1.6.7
plotly==5.17
dash>=2.5
celery==4.4.7
gunicorn==20.0.4
pandas==1.1.4
dash_bootstrap_components
dash-mantine-components
redis==3.5.*
SQLAlchemy==1.3.20
pg8000==1.16.5
colorcet
diskcache
psutil
multiprocess
importlib-metadata==4.13.0
git+https://github.com/noaaroland/sdig.git
