--extra-index-url https://dash-temp.pmel.noaa.gov/packages
dash-enterprise-libraries
celery
gunicorn
pandas==2.0.3
redis
SQLAlchemy==1.4.52
pg8000
colorcet
diskcache
psutil
multiprocess
git+https://github.com/noaaroland/sdig.git
